.navbar {
    position: sticky;
    top: 0px;
    left: 0px;
    box-shadow: none;
}

/*________*/

.bread {
    background-color: #000000;
}

.bread nav {
    box-shadow: none;
}

.bread nav ol {
    margin: 0px;
}

.bread nav ol li a {
    font-size: 19px;
    color: red;
    font-weight: 400;
    text-decoration: none;
}

/*________*/
.About {
    padding-top: 50px;
}
.About h1 {
    font-family: cursive;
    font-size: 47px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.About hr {

    background-color: red;
    text-align: center;

}
.About h1 span {
    color: #f96767;
}
/*____*/

.AF {
    padding-top: 40px;
    padding-bottom:40px
}

.AF p {
    font-size: 16px;
    word-break: break-all;
}
.AF .des h3 {
    font-family: cursive;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 1px;
}
.AF .des span svg {
    width: 66px;
    height: 84px;
    color: #f96767;
}


/*____*/
.ContactW h2 {
        color: #4d3f3f;

}

.ContactW img {
     width: 434px;
    height: 490px;
}
.ContactW p {
    line-height: 32px;
margin-bottom: 0px;
}

.ContactW button {
    width: 211px;
margin-top: 20px;
margin-bottom: 20px;
}
.ContactW .f {
margin-top: 26px;
}

/*____*/


.F {
    padding-top: 30px;
    padding-bottom: 30px;
}

.F h1 {
    color: #f96767;
}

/*____*/

.FAQ-start {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #0f1010db;
}

.FAQ-start .card {
    margin-bottom: 5px;
    background-color: #e1a1a1;
}

.FAQ-start .card button {
    text-decoration: none;
    color: #ff0101;
    font-size: 18px;
    font-weight: 500;
}
.FAQ-start .card .card-body {
    color: black;
    font-weight: 500;
}

.btn:first-child:hover {
    color: black;
}